<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Change employee</title>
  <style> table, th, td {
    border: 1px solid black;
  }</style>
</head>

<body>
<table style="width: 70%">
  <div>
    <form action="/department/employees/" >
      <input name="id" type="number" th:value="${employee.id}" hidden>
      <label for="empName">empName</label>
      <input name="empName" id="empName" type="text" th:placeholder="${employee.name}">
      <label for="empActive">empActive</label>
      <input id="empActive" name="empActive" type="radio" value="true">
      <label for="empNotActive">empNotActive</label>
      <input id="empNotActive" name="empActive" type="radio" value="false">
      <select th:each="department : ${departments}" name="department">
        <option th:value="${department.id}" th:text="${department.name}"/>
      </select>
      <input type="submit"/>
    </form>
  </div>
</table>

</body>
</html>