<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Department</title>
  <style> table, th, td {
    border: 1px solid black;
  }</style>
</head>

<body>
<h1></h1>

<table style="width:70%">
  <thead>

  <tr>
    <th>empId</th>
    <th>empName</th>
    <th>empActive</th>
    <th>empDepartment</th></tr>
  </thead>
  <tbody>
  <th:block th:each="employee : ${employees}">
    <tr>
      <td th:text="${employee.id}"></td>
      <td th:text="${employee.name}"></td>
      <td th:text="${employee.active}"></td>
      <th><a th:href="@{'/employees/' + ${employee.id}}">view</a></th>
      <th><a href="/api/employee/">edit</a></th>
      <td><a th:href="@{'/removeEmployee/' + ${employee.id}}">remove</a></td>
    </tr>
  </th:block>
  </tbody>
</table>
<br>
<table style="width: 70%">
  <div>
    <form action="/addEmployee" method="post">
      <label for="empName">empName</label>
      <input name="empName" id="empName" type="text">
      <label for="empActive">empActive</label>
      <input id="empActive" name="empActive" type="radio" value="true">
      <label for="empNotActive">empNotActive</label>
      <input id="empNotActive" name="empActive" type="radio" value="false">
      <input type="submit"/>
    </form>
  </div>
</table>

<div class="topnav">
  <!--<a class="active" href="#home">Home</a>
  <a href="#about">About</a>-->
  <h2>employee search</h2>
  <div class="search-container">
    <form action="/employees">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
</body>
</html>
