<!DOCTYPE html>
<html lang="en" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
<head>
  <meta charset="UTF-8">
  <title>Department</title>
  <style> table, th, td {
    border: 1px solid black;
  }</style>
</head>

<body>
<h1></h1>

<table style="width:70%">
  <thead>
  <xsl:for-each select="/employees"></xsl:for-each>
  <tr>
    <th><a href="/api/employees">view</a></th>
    <th><a href="/api/employee/">edit</a></th>
    <th>empId</th>
    <th>empName</th>
    <th>empActive</th>
    <th>empDepartment</th>
    <th><a href="/api/employees">remove</a></th>
  </tr>

  <tr>
    <th><a href="/api/employees">view</a></th>
    <th><a href="/api/employee/">edit</a></th>
    <th>%</th>
    <th></th>
    <th></th>
    <th></th>
    <th><a href="/api/employees">remove</a></th>
  </tr>
  <tr>
    <th><a href="/api/employees">view</a></th>
    <th><a href="/api/employee/">edit</a></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th><a href="/api/employees">remove</a></th>
  </tr>
  <tr>
    <th><a href="/api/employees">view</a></th>
    <th><a href="/api/employee/">edit</a></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th><a href="/api/employees">remove</a></th>

  </tr>

  </thead>


  <tbody>
  <xsl:for-each select="/employees">


  </xsl:for-each>
  </tbody>
</table>
<br>
<table style="width: 70%">
  <div>
    <form action="/addEmployee" method="post">

      <label for="empName">empName</label>
      <input name="empName" id="empName" type="text">
      <label for="empActive">empActive</label>
      <input name="empActive" id="empActive" type="text">
      <label for="empDepartment">empDepartment</label>
      <input name="empDepartment" id="empDepartment" type="text">
      <button type="submit">save</button>
      <button type="reset">cancel</button>
    </form>
  </div>
</table>

<div class="topnav">
  <!--<a class="active" href="#home">Home</a>
  <a href="#about">About</a>-->
  <h2>employee search</h2>
  <div class="search-container">
    <form action="/api/employees">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
</body>
</html>
